header {
    background-color: white; border-bottom: 1px solid #cccccc;
    height: 70px; width: 100%;  display: flex;
    justify-content: left; align-items: center;
}
.logo {
    background: url(/images/logo.png);
    height: 60px;
    width: 142px;
    margin-left: 25px;
}
