.places h1{
    font-size: 30px;
    padding-top: 20px;
}

.places {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 0%;
}

.places ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
}
